.editor-container {
  float: left;
  width: 50%;
}

.output-container {
  float: right;
  width: 50%;
}

.editor-box {
  padding: 0.5rem;
}

.output-box {
  padding: 0.5rem;
}

.mpy-editor-output {
  white-space: pre;
}

.mpy-editor {
  font: comic sans;
  font-size: 0.8rem;
  margin: 0;
}
